In [8]:
#Wap to check the students eligibility for sports captain:
    #1) both males and females would be considered if they fulfilled the following conditions:
    #if if he or she should be student of class 9 and above atleast 2 achievements in the field of sports.
    #have grade in last class greater than B+ and should have exp of leading a team of students and he or 
    #she should be taying somewhere near to school only and if should check conditions of kits, playground and decide 
    #teams for various other sports.

class_9=input("Enter if he or she is of class9: \n 1.Yes\n 2.No\n")
achievements=int(input("Enter the achievements: "))
grade=input("Enter the grade: ")
exp=input("Enter the exp: \n 1.Yes\n 2.No\n")
school=input("Enter if staying near to school: \n 1.Yes\n 2.No\n")
check=input("Enter if checking the kits,playground and decide teams: \n 1.Yes\n 2.No\n")

if class_9=="Yes" and achievements>=2 and grade=="A" or grade=="A+" and exp=="Yes" and school=="Yes" and check=="Yes":
    print("He or she is eligible to be Sports captain")
else:
    print("He or she is not eligible to be Sports captain")

Enter if he or she is of class9:
 1.Yes
 2.No
Yes
Enter the achievements: 7
Enter the grade: A
Enter the exp:
 1.Yes
 2.No
Yes
Enter if staying near to school:
 1.Yes
 2.No
Yes
Enter if checking the kits,playground and decide teams:
 1.Yes
 2.No
Yes
He or she is eligible to be Sports captain

#Loops:
-For and while

In [ ]:
#for loop:
1)start and stop
range=start,stop, step

In [9]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [17]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [19]:
#Print the table of 5

for i in range(5,51,5):
    print(i)

5
10
15
20
25
30
35
40
45
50

In [22]:
n=int(input("Enter the number: "))
for i in range(1,11):
    print(n*i)

Enter the number: 8
8
16
24
32
40
48
56
64
72
80

In [23]:
n=int(input("Enter the number: "))
for i in range(1,11):
    print(n*i,end=" ")

Enter the number: 5
5 10 15 20 25 30 35 40 45 50

In [29]:
#Print table in reverse order

n=int(input("Enter the number: "))
for i in range(10,0,-1):
    print(n*i)

Enter the number: 6
60
54
48
42
36
30
24
18
12
6

In [30]:
#print square of number from 1 to 20

for i in range(1,21):
    print(i**2)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

In [8]:
for i in range(1,21):
    if i%2==0:
        print(i**2)
    else:
        print(i**3)

1
4
27
16
125
36
343
64
729
100
1331
144
2197
196
3375
256
4913
324
6859
400