#Data Types:

In [1]:
a=1345
type(a)

int

In [2]:
b=123.654
type(b)

float

In [3]:
c=22+12j
type(c)

complex

In [4]:
d=True
type(d)

bool

##Sequence:

In [7]:
l= [1,2,3,True,"aman",34.6,123]
type(l)

list

In [11]:
t= (23,45.6,True,"park",234)
type(t)

tuple

In [13]:
s="!@#$456733"
type(s)

str

In [14]:
d={"key1":1,"key2":2,"key3":3}
type(d)

dict

In [15]:
s ={1,2,3,4,5}
type(s)

set

#Type Casting: Changing one data type to another data type.

In [19]:
a=1003
type(a)

int

In [22]:
a=str(a)
type(a)

str

In [23]:
a=float(a)
type(a)

float

In [24]:
a=int(a)
type(a)

int

In [39]:
#WAP to convert a float number to str and then to int:

a=100.456
a= int(float(str(100.456)))
print(type(a))
a

<class 'int'>

100

In [40]:
#Convert it to float,then to int,thn to string:

s="123.546"
s=str(int(float("123.546")))
s

'123'

In [42]:
#Convert it to float,int,float,str,float,int,str

a=99999.99999
a=str(int(float(str(float(int(float(99999.99999)))))))
a

'99999'

In [48]:
#Convert this to a tuple then to a set:

l=[1,2,3,4,5,6,6,5,4,3,2,1]
l=set(tuple(l))
l

{1, 2, 3, 4, 5, 6}

#Input:

In [50]:
a=input("Enter the number: ")
print(a)
type(a)

Enter the number: 789
789

str

In [51]:
a=int(input("Enter the number: "))
print(a)
type(a)

Enter the number: 756
756

int

In [1]:
w=float(input("Enter the weight: "))
print(w)
type(w)

Enter the weight: 56.89
56.89

float

In [2]:
w=float(input("Enter the weight: "))
print(w)
type(w)

Enter the weight: 45.78
45.78

float

In [3]:
w=float(input("Enter the weight: "))
print(w)
type(w)

Enter the weight: 78.05
78.05

float

In [4]:
h=float(input("Enter the height: "))
print(h)
type(h)

Enter the height: 156.76
156.76

float

In [5]:
h=float(input("Enter the height: "))
print(h)
type(h)

Enter the height: 143.25
143.25

float

In [6]:
h=float(input("Enter the height: "))
print(h)
type(h)

Enter the height: 189.02
189.02

float