In [1]:
#WAP to take the input from the user regarding the course:
# if course is data science- ask him which tool he wants to learn first- choices are python,sql,ML,stats and Tableau.
# if he chooses python- ask him the level he is at currently which basic, intermediate and advanced. 
# if he is at intermediate level -ask him to do practise on hackerrearth.
# if he is at advanced level- ask him to he should apply for jobs of python developer.
# Now if he is choosing tableau, he should go for bussiness intelligence roles.
# and if he is starting with ML, he should apply for ML engineer.


tool=input("Enter the tool: ")
if tool=="python":
    level=input("Enter the level: ")
    if level=="intermediate":
        print("practise on hackerrearth")
    elif level=="advanced":
        print("apply for jobs of python developer")
    else:
        print("join a python class")
elif tool=="tableau":
    print("apply for BI roles")
elif tool=="ML":
    print("apply for ML engineer")

Enter the tool: python
Enter the level: advanced
apply for jobs of python developer

#Loop:
-for loop
-while loop

In [2]:
#print numbers 1 to 5:
#range(start,stop,step)

list(range(1,6))

[1, 2, 3, 4, 5]

In [3]:
#for loop:

for i in range(1,6):
    print(i)

1
2
3
4
5

In [5]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [13]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [14]:
for i in range(5,55,5):
    print(i)

5
10
15
20
25
30
35
40
45
50

In [17]:
n=int(input("enter the number:"))
for i in range(10,0,-1):
    print(i*n)

enter the number:78
780
702
624
546
468
390
312
234
156
78

In [21]:
for i in range(1,21):
    if i%2==0:
        print("even:",i)
    else:
        print("odd:",i)

odd: 1
even: 2
odd: 3
even: 4
odd: 5
even: 6
odd: 7
even: 8
odd: 9
even: 10
odd: 11
even: 12
odd: 13
even: 14
odd: 15
even: 16
odd: 17
even: 18
odd: 19
even: 20

In [22]:
for i in range(1,21,2):
    print(i,"odd")
    print(i+1,"even")

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even
11 odd
12 even
13 odd
14 even
15 odd
16 even
17 odd
18 even
19 odd
20 even

In [24]:
#WAP to count no of factors of a number entered by a user:

# 10=1,2,5,10
# 15=1,3,5,15


for i in range(1,11):
    if i%1==0:
        print("factor",i)
    else:
        print("not_factor",i)

factor 1
factor 2
factor 3
factor 4
factor 5
factor 6
factor 7
factor 8
factor 9
factor 10